[submodule "Blaze/vendor/glfw"]
	path = Blaze/vendor/glfw
	url = https://github.com/Alcano22/glfw.git
[submodule "Blaze/vendor/glm"]
	path = Blaze/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Blaze/vendor/imgui"]
	path = Blaze/vendor/imgui
	url = https://github.com/Alcano22/imgui.git
